<h1> Bus Details </h1>

<br>

<p>
    <strong> No Of Students </strong>
    <%= @bus.no_of_students %>
</p>

<p>
    <strong> Start Location </strong>
    <%= @bus.start_location %>
</p>

<p>
  <strong> End Location </strong>
  <%= @bus.end_location %>
</p>

<p>
  <strong> Driver Name </strong>
  <%= @bus.driver_name %>
</p>

<p>
  <strong> Driver Contact </strong>
  <%= @bus.driver_contact %>
</p>

