<h1> Student Details </h1>

<br>

<p>
    <strong> First Name </strong>
    <%= @student.first_name %>
</p>

<p>
    <strong> Last Name </strong>
    <%= @student.last_name %>
</p>

<p>
  <strong> Class </strong>
  <%= @student.in_class %>
</p>

<p>
  <strong> Section </strong>
  <%= @student.section %>
</p>

<p>
  <strong> Roll No </strong>
  <%= @student.roll_no %>
</p>

<p>
  <strong> Admission No </strong>
  <%= @student.admin_no %>
</p>

<p>
  <strong> Bus Route </strong>
  <%= @student.bus_route %>
</p>


